* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #212121;
    justify-content: center;
}

.calculator {
    margin-top: 10rem;
    height: 27rem;
    width: 20rem;
    background-color: #323232;
    border-radius: 10px;
}

.display {
    border: none;
    font-weight: 550;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    height: 8rem;
    font-size: 23px;
    width: 100%;
    background-color: #404040;
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 13px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #404040;
}

.display:focus {
    outline: none;
}

.display::-webkit-scrollbar {
    width: 8px;
}

.display::-webkit-scrollbar-track {
    background: #404040;
    border-radius: 10px;
}

.display::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.display::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2px;
    margin: 10px;
}

.button {
    padding: 20px;
    margin: 1px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 550;
    border: none;
    background-color: #3a3a3a
}

.button6,
.button7,
.button8,
.button11,
.button12,
.button13,
.button16,
.button17,
.button18,
.button21 {
    background-color: #505050;
}

.button20 {
    grid-row: span 2;
    background-color: #e65100;
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.button20:hover {
    background-color: #4aa4ee;
}

.button:hover {
    background-color: #5b5656
}

.button:active {
    background-color: #505050;
}